<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Click on the camara icon to take a picture!</h1>

  <ion-fab>
    <ion-fab-button (click) ="takePhoto()">
      <ion-icon icon name = "camera"> </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
